.mision {
    text-align: left;
}
.mis-left {
    width: 90%;
    padding: 5%;
    background: #280F08;
    color: #FAF6F7;
}
.mis-bot {
    padding: 0 5%;
}
@media (min-width:768px) {
    .mis-top {
        display: flex;
        justify-content: space-between;
    }
    .mis-left {
        width: 30%;
        background: none;
    }
    .mis-right {
        width: 60%;
    }
}