.navbar {
    width: 0;
    height: 0;
    background: #280F08;
    color: #FAF6F7;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: top 1s;
    z-index: 1000;
}
.navbar h2 {
    display: none;
}
.navbar a {
    color: #FAF6F7;
    text-decoration: none;
}
.navbar a:hover {
    color: #BB9064;
}
.nav {
    width: 50%;
    height: 60px;
    justify-content: space-between;
    position: relative;
    display: none;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    writing-mode: vertical-rl;
    position: fixed;
    top: 0;
    left: 0;
    background: #280F08;
    width: 10%;
    height: 100vh;
    transition: left 1s;
}
.menu--hidden {
    left: -10%;
}
.navbar--hidden {
    top: -60px;
}
@media (min-width:768px) {
    .navbar {
        width: 90%;
        height: 60px;
    }
    .navbar h2 {
        display: block;
    }
    .menu {
        display: none;
    }
    .nav {
        display: flex;
    }
}