.App {
  text-align: center;
}
.v-m {
  background: #280F08;
}
@media (min-width:768px) {
  .v-m {
    background: url(./Image/cup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
  }
}